.breadcrumb {
  padding-bottom: $safe-padding;

  .canClick {
    cursor: pointer;
    color: rgb(0, 119, 255);

    &:hover {
      color: rgb(52, 169, 247);
    }
  }

  .forbidClick {
    cursor: not-allowed;
  }
}
