@mixin imgage-mixin {
  width: 278px;
  height: 358px;
  background-size: cover;
  background-position: 0 -10px;
  position: relative;
}

.login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(78, 69, 88);

  .authorWrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .author {
      font-size: 40/1920*100vw;
      color: #fff;
      position: absolute;
      bottom: 200/1080*100vh;
      // .letter {
      //   display: inline-block;
      //   animation: authorAnimate 1s ease;
      //   // filter: blur(20px);
      //   // opacity: 1;
      //   // transform: scale(2);
      //   // transition: all 1.5s;
      // }
    }
  }

  .wrap {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba($color: #000, $alpha: 0.1);
    // border: 1px solid rgb(247, 247, 247);
    margin: 100px auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
    overflow: hidden;

    .wrapLeft {
      width: 278px;
      height: 358px;
      background-size: cover;
      background-position: 0 -10px;
      position: relative;
      animation: scrollAnimate 1.5s ease;

      .image1 {
        background: url("../../assets/iamges/login5.jpg");

        @include imgage-mixin;
      }

      .image2 {
        background: url("../../assets/iamges/login6.jpg");

        @include imgage-mixin;
      }

      .image3 {
        background: url("../../assets/iamges/login7.jpg");

        @include imgage-mixin;
      }
    }

    .wrapRight {
      padding: 0 40px 0 90px;

      .loginForm {
        width: 260px;
      }
    }

    .listMenu {
      position: absolute;
      left: 278px;
      transform: translate(-50%);

      .select {
        width: 110px;
      }

      .menuItem {
        background: #eff1f8;
        margin: 20px 0;
        padding: 8px 24px;
        position: relative;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 0 56px;
          border-color: rgb(248, 170, 1) transparent transparent transparent;
          transform: translate(0%, 100%);
        }
      }

      .atived {
        background: #1890ff;

        &::before {
          border-color: rgba(0, 53, 167, 1) transparent transparent transparent;
        }
      }
    }
  }

  .test {
    width: 100px;
    height: 50px;
    background: yellow;
    position: relative;

    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      border-width: 10px 0 0 40px;
      border-style: solid;
      border-color: rebeccapurple transparent transparent transparent;
      transform: translate(0, 100%);
    }
  }
}

:global {
  .custom-form-button {
    .ant-col-18 {
      max-width: 100%;
    }
  }
}

@keyframes scrollAnimate {
  from {
    transform: translate(0, -600%);
  }

  to {
    transform: translate(0, 0%);
  }
}

@keyframes authorAnimate {
  from {
    opacity: 0;
    transform: scale(12);
    filter: blur(20px);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
