.rem {
  .max-border {
    .rem__test {
      width: 200rem;
      height: 200rem;
      background: rgb(156, 255, 161);
    }
    .rem__test2 {
      width: 100px;
      height: 100px;
      background: rgb(192, 188, 255);
    }
  }
}