.diff {
  border-bottom: 1px solid #67ce00;
  margin-bottom: 20px;

  .diff__title {
    margin: 10px 0;
    padding: 14px 24px;
    background: #f6ffed;
    border: 1px solid #67ce00;
    display: inline-block;
  }

  & a {
    padding: 16px 0;
    display: block;
    color: #448801;

    &:hover {
      color: rgb(0, 140, 255);
    }
  }
}
