.layoutAdmin {
  min-height: 100vh;
  position: relative;
  // border: 10px solid red;

  .silderWrap {
    height: 100vh;
  }

  .contentWrap {
    min-height: 100vh;
    box-sizing: border-box;

    .header {
      height: 60px;
      background: #fff;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding-left: $safe-padding;
      padding-right: $safe-padding;
      box-sizing: border-box;

      & > aside > span {
        padding: 10px 10px 10px 0;
        cursor: pointer;

        .toggleCollapsedIcon {
          font-size: 22px;

          &:hover {
            cursor: pointer;
            color: #288102;
          }
        }
      }

      .topMenu {
        margin: 0;

        & > li {
          cursor: pointer;
        }
      }
    }

    .content {
      height: calc(100vh - 60px); // 计算，包括 面包屑 和 content
      padding: $safe-padding;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      .routerViewWrap {
        flex: 1; // 占满垂直的剩余空间
        overflow-y: auto;
        padding: $safe-padding;
        box-sizing: border-box;
        background: #fff;
        // border: 10px solid red;
      }
    }
  }

  .scrollTop {
    width: 60px;
    height: 60px;
    background: #919191;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
