.layoutAdmin {
  min-height: 100vh;
  // background: #F0F2F5;

  .header {
    // height: 160px;
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: $safe-padding;
    padding-right: 2 * $safe-padding;

    & > aside > span {
      padding: 10px 10px 10px 0;
      cursor: pointer;

      .toggleCollapsedIcon {
        font-size: 20px;
      }
    }

    .topMenu {
      padding: 0;
      margin: 0;

      & > li {
        cursor: pointer;
      }
    }
  }

  .content {
    background: #f0f2f5;
    padding: $safe-padding;
  }
}
