.smart-viewport {
  position: absolute;
  bottom: 0;
  left: calc(50% + 100px);
  transform: translateX(-50%);
  background: #87d068;
  border-radius: 4px;
  padding: 2px 6px;
  z-index: 999;
  transition: all 1s;

  & > span {
    margin-right: 12px;
    display: inline-block;
    font-size: 13px;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}
