@mixin interview($borderColor, $backgroundColor, $linkColor) {
  border-bottom: 1px solid $borderColor;
  margin-bottom: 30px;

  & > p {
    margin: 10px 0;
    padding: 14px 24px;
    background: $backgroundColor;
    border: 1px solid $borderColor;
    display: inline-block;
  }

  & > .explain {
    margin: 10px 0;
    font-size: 15px;
  }

  & a {
    padding: 16px 0;
    display: inline-block;
    color: $linkColor;

    &:hover {
      color: rgb(0, 140, 255);
    }
  }

  & h1,
  h2 {
    padding: 4px 0;
    font-size: 15px;
  }
}

.interview-react {
  .diff {
    @include interview(#67ce00, #f6ffed, #448801);
  }

  .var-up {
    @include interview(#e821ff, #fdf2ff, #9a07aa);
  }

  .prototype-chain {
    @include interview(#ff533d, #fff2f0, #e0230a);
  }

  .ceiling {
    @include interview(#00b792, #edfffb, #028a6f);
  }

  .sticky-footer {
    // @include interview(#e8b900, #ffffdd, #028a6f);
    @include interview(#3d51ff, #e8eaff, #0015d3);
  }

  .visibility_display {
    @include interview(#ff8800, #ffefb8, #d37000);
  }

  .line-block {
    @include interview(#67ce00, #f6ffed, #448801);
  }

  .triangle {
    @include interview(#ff0000, #ffe8e8, #e70404);

    .triangle-item {
      height: 360px;
      width: 360px;
      overflow: auto;
      border: 1px solid rgb(187, 187, 187);
      display: inline-block;
      margin-right: 10px;

      .triangle-one {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 60px solid #00b792;
        border-bottom: 60px solid #f00;
        border-left: 60px solid #e821ff;
        border-right: 60px solid #f80;
      }

      .triangle-two {
        width: 0;
        height: 0;
        border: 60px solid transparent;
        border-bottom: 60px solid #f00;
      }

      .triangle-three {
        width: 0;
        height: 0;
        border: 60px solid transparent;
        border-bottom: 120px solid #f00;
      }

      .triangle-four {
        width: 0;
        height: 0;
        // border: 60px solid transparent;
        border-top: 60px solid #00b792;
        border-right: 60px solid #f80;
        border-left: 60px solid #e821ff;
        border-bottom: 120px solid #f00;
      }
    }
  }
}
